Content {
    border: round $primary-background;
    border-title-color: $text;
    border-title-style: bold;
    background: $background;
    padding: 0 1;
}

Content VerticalScroll {
    scrollbar-color: $primary;
    scrollbar-size-vertical: 1;
}

Query {
    dock: bottom;
    height: auto;
    layout: horizontal;
}
Query > * {
    background: $background;
}
Query > Input {
    border: none;
    height: 1;
    padding: 0;
}
